* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{

text-transform: capitalize;
background-image: url("pexels-mateusz-dach-450035.jpg");

height: 100vh;

overflow-y:hidden;


}



.first-para {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 30px;
  font-size: 21px;
}

form {

  width: 40%;
  margin: 0 auto;
  background: darkgray;
  color: wheat;
  padding: 20px 30px;
opacity: 0.7;




}

input,
select {
  margin-bottom: 15px;
}

text-area{

height: 50px;
width: 200px;

}
